{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load i18n %}

{% block smallcontent %}
    {% if signup  and signup.validated_at %}
    <p>
        Votre inscription est validée.
    </p>
    {% else %}
        Vous n'avez pas encore validé votre inscription.
        Pour commmencer une nouvelle inscription our continuer une inscription en cours,
        <a href="{% url "group_edit" %}">clicquez-ici</a>.

    {% endif %}
{% endblock smallcontent %}
