{% extends "base.html" %}

{% load i18n %}
{% load l10n %}

{% block extrameta %}
    {% if not registration_open %}
        <meta http-equiv="refresh" content="5;url=https://www.dynamobile.net/"/>
    {% endif %}

{% endblock extrameta %}

{% block content %}
    {% if not registration_open %}
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8 ">
                {% with date=dynamobile_signup_period_start.date time=dynamobile_signup_period_start.time %}
                    <p>{% blocktrans %}
                        Les inscriptions n'ont pas encore débuté, merci de revenir après {{ time }} le {{ date }}.
                    {% endblocktrans %}</p>
                    <p>
                        {% blocktrans %}
                            Vous allez maintenant être redirigé vers la page d'acceuil de dynamobile.
                        {% endblocktrans %}

                        {% blocktrans %}
                            <a href="https://www.dynamobile.net/">Clicquez ici</a> si ce n'est pas le cas.
                        {% endblocktrans %}
                    </p>
                {% endwith %}
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    {% else %}
        <h2>Du 18 au 25 juillet 2022</h2>
        <h3>Liège - Verviers - Recht - Stavelot - Liège</h3>
        <p class="pt-3">
            <strong>A lire avant de s'inscrire:</strong>
        </p>
        <p>
            Avant de commencer, il vous sera demandé de vous inscrire avec une adresse mail valide. Vous pourrez ensuite
            visualiser facilement votre inscription (et celle de votre famille).
            Afin de faciliter une bonne cohésion du groupe, Dynamobile privilégiera les inscriptions complètes. Par
            conséquent, les inscriptions partielles seront mises en suspens au plus tard jusqu’au 20 mai. Dans ce cas,
            vous en serez informé.
            Le nombre de vélos électriques étant très limité, vous devrez l’indiquer au moment de l’inscription. Dès que
            la limite sera atteinte, on vous demandera si vous maintenez votre inscription en vélo "musculaire". Merci
            pour votre compréhension.
            Après inscription, vous recevrez par courriel un accusé de réception dans lequel vous trouverez les
            informations relatives au paiement.
            L'inscription sera validée après réception de la totalité du paiement. Pour un paiement échelonné, merci de
            contacter info@dynamobile.net
            Les inscriptions seront limitées à 150 participants. Il y aura cependant une petite liste d’attente.
            Dans le courant du mois de juin, les inscrits recevront un courriel avec des informations pratiques sur la
            préparation du voyage.
        </p>

        <bold>Prix:</bold>
        <ul>
            <li>Adulte: 325 euros + 40 euros d'inscription = 365 euros</li>
            <li>Enfant de moins de 18 ans: 240 euros + 30 euros d'inscription = 270 euros</li>
            <li>Enfant de moins de 12 ans: 160 euros + 20 euros d'inscription = 180 euros</li>
            <li>Enfant de moins de 6 ans: 80 euros + 10 euros d'inscription = 90 euros</li>
            <li>Réduction de 25% pour le 2e enfant (de moins de 18 ans)

                et de 50% pour le 3 e enfant (de moins de 18 ans) d’une même famille vivant sous le même toit.
            </li>
        </ul>
        <bold>
            Annulations : formulées par écrit, elles donneront lieu à un remboursement intégral si elles sont reçues
            avant
            le 15 juin prochain. Passé ce délai, 50 % du montant total sera retenu. Merci pour votre compréhension.
        </bold>
        <p class="pt-3">
            <a href="{% url "group_edit" %}" class="btn btn-primary">Commencez l'inscription</a>
        </p>
        </div>
    {% endif %}
{% endblock %}
