{% extends "base.html" %}

{% load i18n %}
{% load l10n %}


{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">prénom</th>
            <th scope="col">nom</th>
            <th scope="col">ville</th>
            <th scope="col">pays</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        <tr>
            <th scope="row">{{ participant.signup_group.owner.email }}</th>
            <td>{{ participant.first_name }}</td>
            <td>{{ participant.last_name }}</td>
            <td>{{ participant.city }}</td>
            <td>{{ participant.country }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
