[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-bootstrap4 = "==22.1"
django-crispy-forms = "==1.14.0"
django-import-export = "==2.8.0"
django-magiclink = "==1.2.0"
ovh = "==1.0.0"
python-decouple = "==3.6"
whitenoise = "==6.0.0"

[dev-packages]

[requires]
python_version = "3.10"
