{% extends "base_login.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block form %}
    <form class="p-3" method="post" id="login-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
        <a href="{% url "magiclink:login" %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
           type="submit" class="btn btn-secondary">{% trans 'log in with a one time code via email' %}</a>
        <a href="{% url "auth:password_reset" %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
           type="submit" class="btn btn-secondary">{% trans 'reset password' %}</a>
        <a href="{% url "auth:password_" %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
           type="submit" class="btn btn-secondary">{% trans 'reset password' %}</a>
    </form>
{% endblock %}
