<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            La limite maximale de participants semble être atteinte.
            Vous occupez actuellement la place numéro : {{ signup.waiting_number }} dans la liste d'attente.
            Si des désistements permettent de libérer des places, nous vous contacterons.
        </p>
        <p>
            Vous pouvez visualiser les détails de votre inscription et suivre l'évolution de votre place
            dans la liste d'attente en cliquant <a href="https://inscriptions.dynamobile.net{% url "signup2026:completed" %}">ici</a>.
        </p>

        {% include "signup2026/partials/completed-signup.html" %}

        <p>
            Les informations reprises sur cette page vous ont été envoyées à l'adresse email {{ signup.owner.email }}.
            Si vous constatez une erreur ou si vous souhaitez modifier votre inscription, merci de nous contacter via
            <a href="mailto:inscriptions@dynamobile.net?subject=inscription n°{{ signup.id }}">inscriptions@dynamobile.net</a>.
        </p>
    </body>
</html>
