{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load i18n %}

{% block smallcontent %}
    {% if signup  and signup.validated_at %}
        <h1>Votre inscription est bien enregistrée.</h1>
        <p>
            Les informations reprises sur cette page vous ont été envoyées à l'adresse
            email {{ signup.owner.email }}.<br>
            Si vous constatez une erreur ou si vous souhaitez modifier votre inscription,
            merci de nous contacter à <a
                href="mailto:inscriptions@dynamobile.net?subject=Question à propos de l'inscription n°{{ signup.id }}">inscriptions@dynamobile.net</a>.
        </p>
        {% include "signup/partials/completed-signup.html" %}

    {% else %}
        Vous ne semblez pas encore avoir complètement validé votre inscription.
        Pour commencer une nouvelle inscription our continuer une inscription en cours,
        <a href="{% url "signup2023:group_edit" %}">cliquez-ici</a>.
    {% endif %}
{% endblock smallcontent %}
