{% extends "base.html" %}

{% load i18n %}
{% load l10n %}

{% block content %}
    {% if not registration_open %}
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8 ">
                {% with date=start_signup.date time=start_signup.time %}
                    <p>Les inscriptions débuteront le {{ start_signup|date:"l d E" }} à
                        {{ start_signup.time|time:"H:i" }}.</p>
                    <p>
                        {% blocktrans %}
                            <a href="https://www.dynamobile.net/">Cliquez ici</a> pour retourner sur la page d'accueil
                            de Dynamobile.
                        {% endblocktrans %}
                    </p>
                {% endwith %}
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    {% else %}
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-12 col-md-10 col-lg-8 ">
                <h2>Du {{ start.day }} au {{ end|date }}</h2>
                <h3>Bruxelles –  Hélécine – Liège (Bressoux) – Bomal – Ciney – Namur</h3>
                <p class="pt-3">
                    <strong>À lire avant de s'inscrire:</strong>
                </p>
                <p>
                    Lors de la première étape, il vous sera demandé de vous inscrire avec une adresse mail valide. Une
                    fois votre identité confirmée grâce au lien reçu par e-mail, vous pourrez ensuite visualiser
                    facilement votre inscription (et celle de votre famille)
                    <br/><br/>
                    Afin de faciliter une bonne cohésion du groupe, Dynamobile privilégiera les inscriptions complètes.
                    Par conséquent, les inscriptions partielles seront mises en suspens
                    jusqu’au {{ partial_open|date }} au plus tard. Les personnes qui ont fait une demande d’inscription
                    partielle seront informées de la suite accordée à leur demande après cette date.
                    <br/><br/>
                    Au moment de l’inscription, vous devrez communiquer votre souhait de participer avec un vélo à
                    assistance électrique ou non. La capacité d’accueil des vélos électriques étant extrêmement limitée,
                    une fois la limite atteinte, il vous sera demandé si vous maintenez votre inscription en vélo
                    « musculaire ».
                    Merci pour votre compréhension.
                    <br/><br/>
                    Les jeunes de moins de 18 ans dont les parents ne participent pas à Dynamobile doivent être inscrits
                    par l’adulte référent qui en aura la charge pendant Dynamobile.
                    <br/><br/>
                    Après inscription, vous recevrez par courriel un accusé de réception dans lequel vous trouverez les
                    informations relatives au paiement. L'inscription sera effective/validée après réception de la
                    totalité du paiement au plus tard 8 jours après votre demande d’inscription.
                    Pour un paiement échelonné, merci de contacter le trésorier via secretariat@dynamobile.net
                    <br/><br/>
                    Les inscriptions seront limitées à 120 participants.
                    Il y aura cependant une liste d’attente.
                    Dans le courant du mois de juin, les personnes inscrites recevront un courriel avec des informations
                    pratiques sur la préparation du voyage.
                </p>
                <p>
                    <b>Prix:</b>
                    <ul>
                        <li>Adulte: 400 euros + 50 euros d'inscription = 450 euros</li>
                        <li>Enfant de moins de 18 ans: 305 euros + 40 euros d'inscription = 345 euros</li>
                        <li>Enfant de moins de 12 ans: 190 euros + 30 euros d'inscription = 220 euros</li>
                        <li>Enfant de moins de 6 ans: 100 euros + 10 euros d'inscription = 110 euros</li>
                        <li>Enfant de moins de 2 ans: gratuit</li>
                        <li>Réduction de 25% pour le 2e enfant (de moins de 18 ans)
                            et de 50% pour le 3 e enfant (de moins de 18 ans)
                            d’une même famille vivant sous le même toit.
                        </li>
                    </ul>
                </p>
                <p>
                    <b>Annulations</b> :
                    <ul>
                        <li>formulées par écrit, elles donneront lieu à un remboursement intégral
                            si elles sont reçues avant le 15 juin 2024 à minuit.
                        </li>
                        <li>Entre le 16 juin et le 1er juillet, 50 % du montant total sera retenu.</li>
                        <li>Passé le 1er juillet, aucun remboursement ne sera effectué.</li>
                    </ul>
                    Le montant correspondant aux droits d’inscription n’est en aucun cas remboursé.
                    <br/><br/>
                    Ces règles s'appliquent également en cas de force majeure ou de certificat maladie.
                    Merci pour votre compréhension.
                    <br/><br/>
                    Si vous avez des questions ou rencontrez des problèmes lors de l’inscription, vous pouvez nous contacter
                    par téléphone au 0032 475 23 85 98 et par mail à inscriptions@dynamobile.net
                </p>
                <p class="pt-3">
                    <a href="{% url "group_edit" %}" class="btn btn-primary">Commencez l'inscription</a>
                </p>
            </div>
            <div class="col"></div>
        </div>
    {% endif %}
{% endblock %}
