{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load i18n %}

{% block smallcontent %}
    <p>
        Voici les participants renseignés pour votre groupe.<br>
        Veuillez relire attentivement afin de vérifier que les informations introduites soient complètes.<br>
        Une fois l'inscription validée, vous ne pourrez plus la modifier vous même.
        Si les informations sont correctes confirmez votre inscription en cliquant sur le bouton <ci-dessous class=""></ci-dessous>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom de Famille</th>
                <th>Adresse e-mail</th>
                <th>Date de naissance</th>
                <th>Lieu de résidence</th>
                <th data-toggle="tooltip" title="Vélo à Assistance Electrique">V.A.E.</th>
                <th>Arrive le 20</th>
                <th>Extra</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in object.participant_set.all %}
                <tr>
                    <td>{{ participant.first_name }}</td>
                    <td>{{ participant.last_name }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.birthday }}</td>
                    <td>{{ participant.city }}, {{ participant.country }}</td>
                    <td> {{ participant.get_vae_display }}</td>
                    <td> {{ participant.get_pre_departure_display }}</td>
                    <td> {{ participant.extra_activities }}</td>
                    <td>
                        {% if participant.complete_signup %}Inscription complète
                        {% else %}Inscription partielle
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post">
        {% csrf_token %}
        {% if signup.has_vae %}
            {{ form|crispy }}
        {% else %}
            {{ form|as_crispy_errors }}
        {% endif %}
        <a href="/signup-1" class="btn btn-danger">{% trans "Page précédente" %}</a>
        <button type="submit" class="btn btn-primary">{% trans "Confirmer l'inscription" %}</button>
    </form>

{% endblock %}
