<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" rowspan="2" colspan="1">Participant</th>
        <th scope="col" rowspan="2" colspan="1">VAE</th>
        <th scope="col" rowspan="1" colspan="8">Jours de participation</th>
    </tr>
    <tr>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
    </tr>
    </thead>
    <tbody>
    {% for participant in signup.participant_set.all %}
        <tr>
            <td>{{ participant.first_name }} {{ participant.last_name }}</td>
            <td>{% if participant.vae %}🔋{% else %}🦵{% endif %}</td>
            <td>{% if participant.d2022_07_18 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_19 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_20 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_21 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_22 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_23 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_24 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_25 %}✅{% else %}❌{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    Merci d'effectuer un virement de {{ signup.bill.amount }}€ sur le compte de Dynamobile: BE16 0001 6308 3874
</p>
<p>
    Votre inscription ne sera complètement valide qu'une fois le payment de celle-ci aura été confirmé.
</p>
