<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" rowspan="2" colspan="1">Participant</th>
        <th scope="col" rowspan="2" colspan="1">VAE</th>
        <th scope="col" rowspan="1" colspan="8">Jours de participation</th>
    </tr>
    <tr>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
    </tr>
    </thead>
    <tbody>
    {% for participant in signup.participant_set.all %}
        <tr>
            <td>{{ participant.first_name }} {{ participant.last_name }}</td>
            <td>{% if participant.vae %}🔋{% else %}🦵{% endif %}</td>
            <td>{% if participant.d2022_07_18 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_19 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_20 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_21 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_22 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_23 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_24 %}✅{% else %}❌{% endif %}</td>
            <td>{% if participant.d2022_07_25 %}✅{% else %}❌{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if signup.on_hold %}
    {% if signup.on_hold_vae %}
        <p>
            Nous avons atteint le maximum de participants souhaitants venir en VAE (Vélo avec assistance électrique).
            Si vous voulez modifier votre participation pour une participation en vélo à assistance musculaire (pas électrique),
            vous pouvez nous contacter en suivant le lien ci-dessous. <br>
            <a href="mailto:inscriptions@dynamobile.net?subject=VAE n°{{ signup.id }}">inscriptions@dynamobile.net</a>.
        </p>
    {% elif signup.on_hold_partial %}
        <p>
            Les inscriptions partielles ne sont pas encore ouvertes.
            Dès qu'elles le seront et en fonction de la place disponible, nous vous recontacterons.
        </p>
    {% else %}
        <p>
            La limite maximale de participant semble être atteinte. Vous occupez actuellement la place numéro: {{ signup.waiting_number }}.
            En cas de désistement nous vous contacterons.
        </p>
    {% endif %}
{% else %}
    <p>
        Merci d'effectuer un virement de {{ signup.bill.amount|floatformat:2 }}€ sur le compte de Dynamobile: BE16 0001 6308
        3874
    </p>
    <p>
        Votre inscription ne sera complètement valide qu'une fois le payment de celle-ci aura été confirmé.
    </p>
{% endif %}
