{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load i18n %}

{% block smallcontent %}
    {% if signup  and signup.validated_at %}
        <h1>Votre inscription est bien enregistrée.</h1>
        <p>
            <span class="fw-bold">ATTENTION</span> : ces informations ne sont <span class="fw-bold">PAS</span> envoyées par e-mail.
            Notez bien ces informations ou ajoutez cette page internet à vos favoris pour y avoir accès.
            Si vous constatez une erreur ou si vous souhaitez modifier votre inscription,
            merci de nous contacter à <a
                href="mailto:inscriptions@dynamobile.net?subject=Question à propos de l'inscription reunion retriuvailles n°{{ signup.id }}">inscriptions@dynamobile.net</a>.
        </p>
        {% include "reunion/partials/completed-signup.html" %}

    {% else %}
        Vous ne semblez pas encore avoir complètement validé votre inscription.
        Pour commencer une nouvelle inscription our continuer une inscription en cours,
        <a href="{% url "reunion:group_edit" %}">cliquez-ici</a>.
    {% endif %}
{% endblock smallcontent %}
