{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Les inscripttions en ligne sont cloturées. Si vous souhaitez malgré tout participer, merci de contacter un
        member du CA.
    </div>
    <div class="card-deck p">
        {% for ballad in object_list %}
            <div class="card my-3" style="min-width: 480px; max-width: 680px">
                <div class="card-body">
                    <h5 class="card-title">{{ ballad.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ ballad.guide }}</h6>
                    <p class="card-text">{{ ballad.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ ballad.available }} places encore disponibles</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}