<p>
    Sauf erreur de notre part, vous n'avez pas encore régler le solde de votre inscription.
</p>
<p>

    Les instructions de payement se trouvent ci-dessous, et peuvent être visualisée en utilisant le lien suivant:
    <a href="https://inscriptions.dynamobile.net{% url "completed_signup" %}">cliquez ici</a>
</p>
<p>
    Pour toute question, ou si nous faisons erreur, merci de répondre à cet e-mail.
</p>
<p>
    Bien à vous, <br> Augustin Borsu
</p>
{% include "signup/partials/completed-signup.html" %}
