<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour,
        </p>
        <p>
            Ci-dessous vous trouverez un résumé de votre inscription ainsi que les instructions pour le paiement de celle-ci.
        </p>
        {% include "signup/partials/completed-signup.html" %}
        <p>
            Bien à vous, <br> Augustin Borsu
        </p>
    </body>
</html>
