<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour,

            <p>J'ai bien reçu votre demande d'inscription pour Dynamobile 2024, et celle-ci est confirmée.</p>

            <p>Sauf erreur de ma part je n'ai pas encore reçu votre paiement pour cette édition.
                Il est possible que vous n'ayez pas encore reçu de message et dans ce cas je vous prie de m'excuser, nous avons
                subit
                quelques déboire techniques du à l'afflux de demande.</p>

            <p>
                Ci-dessous vous trouverez un résumé de votre inscription ainsi que les instructions pour le paiement de celle-ci.
            </p>
            {% include "signup/partials/completed-signup.html" %}
            <p>
                Bien à vous, <br> Augustin Borsu
            </p>
        </body>
    </html>
