<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour,

            <p>J'ai le plaisir de vous informer que vous êtes maintenant inscrit à cette éditon de Dynamobile.</p>

            <p>
                Ci-dessous vous trouverez un résumé de votre inscription ainsi que les instructions pour le paiement de celle-ci.
            </p>
            {% include "signup/partials/completed-signup.html" %}
            <p>
                Bien à vous, <br> Augustin Borsu
            </p>
        </body>
    </html>
