<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour,
        </p>
        <p>
            Malheureusement vous êtes toujours sur liste d'attente.
        </p>
        <p>
            Nous sommes en train de procéder aux paiement. Si une place se libère nous vous contacterons.
        </p>
        {% include "signup/partials/completed-signup.html" %}
        <p>
            Bien à vous, <br> Augustin Borsu
        </p>
    </body>
</html>
