<html>
    <head>
        <style>
            .font-weight-bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour à toutes et tous,
        </p>
        <p>
            Le succès de Dynamobile ne se dément pas, et au stade actuel, nous avons atteint la limite du nombre
            de participant.es pour l'édition 2024. Vous êtes donc dans la liste d'attente. C'est une situation inconfortable,
            nous en sommes conscient.es. Nous ferons le point sur les éventuels désistements et annulations la dernière semaine
            du mois de mai et reviendrons vers vous dans la foulée.
        </p>
        <p>
            Amitiés cyclistes,
        </p>
        <p>

            L'équipe de Dynamobile

        </p>

        {% include "signup/partials/completed-signup.html" %}
        <p>
            Bien à vous, <br> Augustin Borsu
        </p>
    </body>
</html>
